:root {
    --font: serif
  }

html, body {
    margin: 0;
    height: 100vh;
    width: 100vh;
    
}

.hide {
    display: none;
}

.show {
    display: flex;
}

#clock{
    display: flex;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    
}

.column{
    width: 100vw;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.initial-hide {
    display: flex
}

.btn{
  background: #f05ddc;
  border-radius: 999px;
  box-shadow: #ff00dd 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  margin: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.btn-2 {
  background: #ffffff;
  border-radius: 9px;
  color: #0000ff;
  cursor: pointer;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  margin: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}


